/*Police d'écriture*/

html {
    font-family: "raleway", sans-serif;
}

/*Couleurs*/

.color_1 {
    color: #0065fc;
}
.color_2 {
    color: #deebff;
}
.color_3 {
    color: #f2f2f2;
}
.color_4 {
    color: black;
}

/*Marge de la page*/

#body {
    width: 90%;
    margin: auto;
}

/*En-tête: Titre principal et Liens de navigation*/

#logo {
    padding-top: 40px;
}
.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex_between {
    display: flex;
    justify-content: space-between;
}
.links_sizes {
    width: 35%;
}
.decoration_none {
    text-decoration: none;
}
.border_nav {
    border-top: 2px solid #0065fc;
    width: 160px;
    height: 100px;
}

/*En-tête: */
