/*Police d'écriture*/

html {
    font-family: Raleway, sans-serif;
}
.bold {
    font-weight: bold;
}

/*Couleurs*/

.color_1 {
    color: #0065fc;
}
.color_2 {
    color: #deebff;
}
.color_3 {
    color: #f2f2f2;
}
.color_4 {
    color: black;
}
.shadow_1 {
    box-shadow: rgb(230, 230, 230) 0 0 5px 5px;
}

.shadow_2 {
    box-shadow: rgb(230, 230, 230) 0 0 10px 5px;
}

/*Marge de la page*/

.body {
    width: 90%;
    margin: auto;
}

/*En-tête: Titre principal et Liens de navigation*/

.logo {
    padding-top: 40px;
}
.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_column_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_column_around {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.flex_column_between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.links_sizes {
    width: 35%;
}
.decoration_none {
    text-decoration: none;
}
.border_nav {
    border-top: 2px solid #0065fc;
    height: 100px;
    width: 160px;
    color: #0065fc;
}

/*En-tête: Barre de recherche*/

.title {
    margin-top: 30px;
}
.block_search {
    width: 440px;
}
.icon_mapmarker {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.input_search {
    height: 50px;
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    border: 1px solid #f2f2f2;
}
.button_search {
    background-color: #0065fc;
    height: 50px;
    width: 140px;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}
.button_search:hover {
    background-color: #deebff;
    color: #0065fc;
}

/*En-tête: Filtres*/

.filters {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.filters h3 {
    margin-right: 30px;
    font-size: 1em;
}
.buttons_filters {
    border: 3px solid #f2f2f2;
    height: 40px;
    margin-right: 40px;
    border-radius: 50px;
}
.buttons_filters i {
    color: #0065fc;
    background-color: #deebff;
    height: 43px;
    width: 43px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3px;
}
.name_filter {
    padding-left: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.buttons_filters:hover {
    background-color: #deebff;
    color: #0065fc;
    border-color: #deebff;
    cursor: pointer;
}
.buttons_filters i:hover {
    transform: rotate(360deg);
    transition: 0.8s;
}
.info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.icone_info {
    color: #0065fc;
    border: 2px solid #f2f2f2;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    margin-right: 10px;
}

/*Cartes*/

.size_lodging {
    flex: 2;
    background-color: #f2f2f2;
    height: 650px;
    border-radius: 20px;
    margin-right: 20px;
}
.size_popular {
    flex: 1;
    background-color: #f2f2f2;
    height: 650px;
    border-radius: 20px;
    margin-left: 20px;
}

/*Cartes "Hébergements"*/

.block_lodging {
    padding-left: 20px;
    padding-right: 20px;
}
.block_1 {
    margin-bottom: 10px;
}
.block_2 {
    margin-top: 10px;
}
.back_lodging {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 0.5%;
    border-radius: 20px;
}
.back_lodging:hover {
    background-color: #deebff;
}
.block_description_lodging {
    width: 90%;
}
.block_description_lodging:hover {
    color: #0065fc;
}
.img_lodging_1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.img_lodging_2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.img_lodging_3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.img_lodging_4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.img_lodging_5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.img_lodging_6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

/*Cartes "Les plus populaires*/

.block_popular {
    padding-left: 20px;
    padding-right: 20px;
}
.block_popular_1_2 {
    margin-bottom: 25px;
}
.back_popular {
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.back_popular:hover {
    background-color: #deebff;
}
.block_description_popular {
    width: 60%;
    padding-left: 5%;
}
.block_description_popular:hover {
    color: #0065fc;
}
.img_popular_1 {
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.img_popular_2 {
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.img_popular_3 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

/*Cartes "Activités"*/

.activities {
    margin-top: 50px;
    margin-bottom: 50px;
}
.block_activities {
    height: 450px;
}
.back_activities {
    width: 22%;
    border-radius: 20px;
}
.back_activities:hover {
    background-color: #deebff;
    color: #0065fc;
}
.img_activities_1 {
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0;
}
.height_title {
    height: 50px;
}
.name_card_activities {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.img_activities_2 {
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
}
.img_activities_3 {
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 125px;
    border-radius: 20px 20px 0 0;
}
.back_activities_2 {
    width: 100%;
    border-radius: 20px;
}
.block_activities_2 {
    width: 22%;
    height: 450px;
}
.back_activities_2:hover {
    background-color: #deebff;
    color: #0065fc;
}
.img_activities_4 {
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0;
}
.img_activities_5 {
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 125px;
    border-radius: 20px 20px 0 0;
}
.img_activities_6 {
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
}

/*Pied de page, liens*/

.footer {
    background-color: #f2f2f2;
    height: 250px;
    margin-top: 75px;
}
.size_link_footer {
    height: 150px;
}
.links_footer {
    padding-top: 40px;
    margin-left: 5%;
    margin-right: 27%;
}
.links_footer_2 {
    margin-right: 8%;
}
.link_footer_hover:hover {
    color: #0065fc;
}
