/*****Feuille de style CSS*****(width 1440px -> 1200px)*****/

/*Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
    font-family: "Raleway", sans-serif;
}
/*Marge gauche et droite de la page*/

main {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}
header {
    margin-left: 3.5vw;
    margin-right: 20px;
}

/*Pied de page*/

footer {
    background-color: #f2f2f2;
    height: 220px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 3.5vw;
    padding-right: 25.5vw;
}

/*Police d'écriture*/

h1,
h2 {
    font-size: 1.36em;
}
h1 {
    margin: 0;
    margin-top: 35px;
    margin-bottom: -7px;
}
.filters h2 {
    margin-right: 2vw;
    font-size: 1.15rem;
}
footer h3 {
    margin-top: 0px;
    padding-top: 45px;
    font-size: 1.1em;
}
.bold {
    font-weight: bold;
}

/*Flexbox*/

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_column_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_column_around {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.flex_column_between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*Couleurs*/

.color_blue {
    color: #0065fc;
}
.color_light_blue {
    color: #deebff;
}
.color_light_grey {
    color: #f2f2f2;
}
.color_black {
    color: black;
}

/*Ombres*/

.shadow_lodging_popular {
    box-shadow: rgb(230, 230, 230) 0 0 5px 5px;
}
.shadow_activities {
    box-shadow: rgb(230, 230, 230) 0 0 10px 5px;
}

/*Décorations*/

.decoration {
    text-decoration: none;
}

/***********************************************************/

/*En-tête*/

nav {
    display: flex;
    justify-content: space-between;
}
nav figure {
    margin: 0;
    margin-top: 45px;
}

/*En-tête: Liens de navigation*/

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    width: 155px;
    display: flex;
    justify-content: center;
    height: 0;
}
nav a {
    margin-top: 50px;
    height: 0;
}
nav li:hover {
    border-top: solid 2px;
    color: #0065fc;
}
nav a:hover {
    color: #0065fc;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 88.7vw;
}
.signup {
    margin-left: 22px;
    margin-right: 4vw;
}

/***********************************************************/

/*Barre de recherche*/

form {
    display: flex;
    margin-top: 20px;
}
.small_button_submit {
    display: none;
}
.icon_mapmarker {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.input_search {
    height: 50px;
    width: 235px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 15px;
    border: solid 1px #f2f2f2;
}
.button_submit {
    background-color: #0065fc;
    height: 50px;
    width: 135px;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    border: none;
    padding: 0;
}
.button_submit:hover {
    background-color: #deebff;
    color: #0065fc;
}

/************************************************************/

/*Filtres*/

.filters {
    display: flex;
    margin-top: 28px;
    margin-bottom: 30px;
}
.filters_flex {
    display: flex;
}
.buttons_filters {
    border: 3px solid #f2f2f2;
    height: 50px;
    margin-right: 24px;
    border-left: none;
    border-radius: 50px;
    background-color: white;
}
.buttons_filters i {
    color: #0065fc;
    background-color: #deebff;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: -6px;
}
.name_filter {
    font-weight: bold;
    font-size: 1.15rem;
    padding-left: 10px;
    padding-right: 15px;
}

/*Hover bouttons et icônes filtres*/

.buttons_filters:hover {
    background-color: #deebff;
    color: #0065fc;
    border-color: #deebff;
    cursor: pointer;
}
.buttons_filters i:hover {
    transform: rotate(360deg);
    transition: 0.8s;
}

/************************************************************/

/*Info*/

.text_info {
    margin: 0;
    margin-left: 10px;
    padding-top: 5px;
}
.info {
    display: flex;
    margin-bottom: 35px;
}
.icon_info {
    margin: 0;
}
.fa-info {
    color: #0065fc;
    border: 2px solid #f2f2f2;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*************************************************************/

/*Background cartes "Hébergements à Marseille"*/

.background_lodging {
    background-color: #f2f2f2;
    width: 61.1vw;
    height: 625px;
    border-radius: 20px;
}

/*Cartes "Hébergements à Marseille"*/

.lodging_title {
    margin: 0;
    margin-left: 3vw;
    margin-top: 30px;
}
.block_cards_lodging_1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.block_cards_lodging_2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.back_lodging {
    width: 16.5vw;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
.block_description_lodging {
    padding-left: 10px;
    font-size: 0.85em;
}
.margin_title_price_lodging {
    margin: 0;
    margin-top: 5px;
}
.lodging_plus {
    width: 95px;
    margin: 0;
    margin-left: 3vw;
    margin-bottom: 35px;
}
.lodging_plus:hover {
    color: #0065fc;
}

/*Icônes étoiles "Hébergements à Marseille"*/

.star_lodging {
    display: flex;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

/*Images "Hébergements à Marseille"*/

.img_lodging {
    width: 16.55vw;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.figure_lodging {
    margin: 0;
    margin-top: 5px;
}

/*Hover cartes "Hébergements à Marseille"*/

.block_description_lodging:hover {
    color: #0065fc;
}
.back_lodging:hover {
    background-color: #deebff;
}

/************************************************************/

/*Cartes "Les plus populaires"*/

.popular {
    margin-left: 3vw;
    margin-top: 24px;
    margin-right: 3vw;
}
.fa-chart-line {
    font-size: 20px;
}
/*Background cartes "Les plus populaires"*/

.background_popular {
    background-color: #f2f2f2;
    width: 29.2vw;
    height: 625px;
    border-radius: 20px;
}
.block_popular_1 {
    margin-top: 8px;
}
.block_popular_2 {
    margin-top: 32px;
}
.block_popular_3 {
    margin-top: 32px;
}
.back_popular {
    width: 23.7vw;
    height: 145px;
    background-color: white;
    border-radius: 20px;
}
.block_description_popular {
    font-size: 0.85em;
    margin-left: 20px;
}
.figure_popular {
    display: flex;
    margin: 0;
}

/*Icônes étoiles "Les plus populaires"*/

.star_popular {
    margin: 0;
    display: flex;
}
.margin_title_popular {
    margin-bottom: 0;
}
.margin_price_popular {
    margin-top: 10px;
    margin-bottom: 40px;
}

/*Images "Les plus populaires"*/

.img_popular {
    width: 8.8vw;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    margin-left: 5px;
    margin-top: 5px;
}

/*Hover cartes "Les plus populaires"*/

.block_description_popular:hover {
    color: #0065fc;
}
.back_popular:hover {
    background-color: #deebff;
}

/***********************************************************/

/*Cartes "Activités à Marseille"*/

.activities {
    margin-left: 3.5vw;
    margin-top: 60px;
    margin-right: 3.5vw;
    margin-bottom: 50px;
}
.block_1 {
    margin-top: 8px;
    width: 45vw;
}
.block_activities_2 {
    height: 445px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.block_2 {
    margin-top: 8px;
    width: 45vw;
}
.back_activities_1 {
    width: 21vw;
    height: 445px;
    border-radius: 20px;
    margin: 0;
}
.back_activities_2 {
    width: 21vw;
    height: 240px;
    border-radius: 20px;
    margin: 0;
}
.back_activities_3 {
    width: 21vw;
    height: 165px;
    border-radius: 20px;
    margin: 0;
}
.back_activities_4 {
    width: 21vw;
    height: 445px;
    border-radius: 20px;
    margin: 0;
}
.back_activities_5 {
    width: 21vw;
    height: 195px;
    border-radius: 20px;
    margin: 0;
}
.back_activities_6 {
    width: 21vw;
    height: 210px;
    border-radius: 20px;
    margin: 0;
}

/*Noms des cartes "Activités à Marseille"*/

.name_card_activities {
    margin-left: 1.2vw;
    font-size: 1em;
}

/*Images "Activités à Marseille"*/

.img_activities_1 {
    width: 21vw;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.img_activities_2 {
    width: 21vw;
    height: 185px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: 0;
}
.img_activities_3 {
    width: 21vw;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: 0;
}
.img_activities_4 {
    width: 21vw;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: 0;
}
.img_activities_5 {
    width: 21vw;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: 0;
}
.img_activities_6 {
    width: 21vw;
    height: 155px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

/*Hover cartes "Activités à Marseille"*/

.back_activities_1:hover {
    background-color: #deebff;
    color: #0065fc;
}
.back_activities_2:hover {
    background-color: #deebff;
    color: #0065fc;
}
.back_activities_3:hover {
    background-color: #deebff;
    color: #0065fc;
}
.back_activities_4:hover {
    background-color: #deebff;
    color: #0065fc;
}
.back_activities_5:hover {
    background-color: #deebff;
    color: #0065fc;
}
.back_activities_6:hover {
    background-color: #deebff;
    color: #0065fc;
}

/***********************************************************/

/*Pied de page: Liens*/

footer ul {
    padding-left: 0px;
}
footer li {
    list-style-type: none;
    margin-bottom: 15px;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}
footer a:hover {
    color: #0065fc;
}
.footer_block_lodging {
    margin-right: 4.7vw;
}

/***********************************************************/

/****Media Queries (max-width: 1200px)****/

@media screen and (max-width: 1200px) {
    /*Cartes "Les plus populaires" (max-width: 1200px)*/

    .lodging_popular {
        flex-direction: column-reverse;
    }
    .background_popular {
        width: 91.6vw;
        height: 270px;
        margin-bottom: 40px;
    }
    .card_popular {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 8px;
    }
    .block_popular_1 {
        margin: 0;
        width: 26.5vw;
    }
    .block_popular_2 {
        margin: 0;
        width: 26.5vw;
    }
    .block_popular_3 {
        margin: 0;
        width: 26.5vw;
    }

    /*Cartes "Hébergements à Marseille" (max-width: 1200px)*/

    .background_lodging {
        width: 91.6vw;
        margin: 0;
    }
    .block_lodging {
        padding: 0;
    }
    .block_cards_lodging_1 {
        margin-left: 0;
        margin-right: 0;
    }
    .block_cards_lodging_2 {
        margin-left: 0;
        margin-top: 10px;
        margin-right: 0;
    }
    .back_lodging {
        width: 26.5vw;
    }
    .img_lodging {
        width: 26.5vw;
    }

    /*Cartes "Activités à Marseille" (max-width: 1200px)*/

    .block_activities {
        flex-direction: column;
        align-items: flex-start;
    }
    .activities {
        margin-left: 4.2vw;
    }
    .block_activities_2 {
        flex-direction: row;
    }
    .back_activities_1 {
        width: 27.5vw;
    }
    .img_activities_1 {
        width: 27.5vw;
    }
    .back_activities_2 {
        width: 27.5vw;
        height: 445px;
        margin-left: 4.5vw;
        margin-right: 4.5vw;
    }
    .img_activities_2 {
        width: 27.5vw;
        height: 390px;
    }
    .back_activities_3 {
        width: 27.5vw;
        height: 445px;
    }
    .img_activities_3 {
        width: 27.5vw;
        height: 390px;
    }
    .block_2 {
        margin-top: 50px;
    }
    .back_activities_4 {
        width: 27.5vw;
    }
    .img_activities_4 {
        width: 27.5vw;
        height: 390px;
    }
    .back_activities_5 {
        width: 27.5vw;
        height: 445px;
        margin-left: 4.5vw;
        margin-right: 4.5vw;
    }
    .img_activities_5 {
        width: 27.5vw;
        height: 390px;
    }
    .back_activities_6 {
        width: 27.5vw;
        height: 445px;
    }
    .img_activities_6 {
        width: 27.5vw;
        height: 390px;
    }

    /*footer (max-width: 1200px)*/

    footer {
        padding-left: 4.2vw;
    }
}

/************************************************************/

/****Media Queries (max-width: 992px)****/

@media screen and (max-width: 992px) {
    /*Cartes "Les plus populaires" (max-width: 992px)*/

    .filters_column {
        flex-direction: column;
    }
    .buttons_filters {
        margin-bottom: 12px;
    }
    .background_popular {
        height: 580px;
    }
    .card_popular {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .back_popular {
        width: 86vw;
        margin-bottom: 10px;
    }
    .img_popular {
        width: 34vw;
    }
    .lodging_title {
        margin-left: 0;
        padding-left: 22px;
    }
    .name_card_activities {
        margin-left: 1.1vw;
        font-size: 0.9rem;
    }
    footer {
        padding-right: 18vw;
    }
    .footer_block_lodging {
        margin-left: 4vw;
    }
}

/***********************************************************/

/****Media Queries (max-width: 768px)****/

@media screen and (max-width: 768px) {
    main {
        margin: 0;
    }
    header {
        margin: 0;
        margin-right: 20px;
    }
    .navigation {
        flex-direction: column;
        width: 0;
    }
    nav figure {
        width: 0;
    }
    nav figure {
        margin-left: 20px;
        margin-top: 25px;
    }
    nav ul {
        margin-top: 25px;
        width: 100vw;
    }
    nav li {
        width: 50vw;
        height: 33px;
        border-bottom: solid 4px;
        border-color: #f2f2f2;
    }
    nav li a {
        margin-top: 0;
    }
    .signup {
        margin-left: 0;
        margin-top: 40px;
        margin-right: 0;
    }
    nav li:hover {
        border-top: none;
        border-color: #0065fc;
    }
    h1,
    .text_search {
        margin-left: 20px;
    }
    .margin_price_popular {
        margin-left: 0;
    }
    form {
        margin-left: 20px;
    }
    .filters {
        margin-left: 20px;
    }
    .info {
        margin-left: 20px;
    }

    /*Cartes "Les plus populaires" (max-width: 768px)*/

    .background_popular {
        border-radius: 0;
        width: 100vw;
    }
    .popular {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .back_popular {
        width: 89.5vw;
    }
    .img_popular {
        width: 34vw;
    }

    /*Cartes "Hébergements à Marseille" (max-width: 768px)*/

    .lodging_title {
        margin-left: 0;
        margin-top: 750px;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    .block_cards_lodging_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0;
    }
    .block_cards_lodging_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
    }
    .background_lodging {
        background: none;
    }
    .back_lodging {
        width: 88.5vw;
        margin-bottom: 10px;
    }
    .img_lodging {
        width: 88.4vw;
    }
    .lodging_plus {
        margin-left: 1vw;
        margin-top: 10px;
    }

    /*Cartes "Activités à Marseille" (max-width: 768px)*/

    .activities {
        width: 90vw;
        margin-left: 5vw;
        margin-top: 770px;
    }
    .block_activities {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 1240px;
        margin-top: 30px;
    }
    .block_1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 610px;
        margin-top: 0;
    }
    .block_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 610px;
        margin-top: 0;
    }
    .block_activities_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 400px;
    }
    .back_activities_1 {
        width: 90vw;
        height: 190px;
    }
    .img_activities_1 {
        width: 90vw;
        height: 135px;
    }
    .back_activities_2 {
        width: 90vw;
        height: 190px;
    }
    .img_activities_2 {
        width: 90vw;
        height: 135px;
    }
    .back_activities_3 {
        width: 90vw;
        height: 190px;
    }
    .img_activities_3 {
        width: 90vw;
        height: 135px;
    }
    .back_activities_4 {
        width: 90vw;
        height: 190px;
    }
    .img_activities_4 {
        width: 90vw;
        height: 135px;
    }
    .back_activities_5 {
        width: 90vw;
        height: 190px;
    }
    .img_activities_5 {
        width: 90vw;
        height: 135px;
    }
    .back_activities_6 {
        width: 90vw;
        height: 190px;
    }
    .img_activities_6 {
        width: 90vw;
        height: 135px;
    }
    .name_card_activities {
        margin-left: 20px;
        font-size: 1rem;
    }
    footer {
        height: 470px;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 30px;
        padding-top: 15px;
        padding-right: 0;
        padding-bottom: 0px;
        margin-top: 0;
    }
    .footer_block_lodging {
        margin: 0;
        margin-bottom: 10px;
    }
    footer h3 {
        padding-top: 0;
    }
}

/***********************************************************/

/****Media Queries (max-width: 576px)****/

@media screen and (max-width: 576px) {
    .filters {
        margin-top: 0;
    }
    .filters_flex_column {
        flex-direction: column;
        align-items: flex-start;
    }
    .buttons_filters {
        margin-right: 15px;
    }
    .name_filter {
        font-size: 1rem;
    }
    .button_submit {
        display: none;
    }
    form {
        width: 335px;
        margin-top: 35px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: solid 1px #f2f2f2;
        border-radius: 15px;
    }
    .input_search {
        border: none;
    }
    .small_button_submit {
        display: initial;
        background-color: #0065fc;
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
        border-radius: 15px;
        color: white;
        cursor: pointer;
    }
    form button:hover {
        background-color: #deebff;
        color: #0065fc;
    }
    .info {
        margin-top: 0;
    }
    .lodging_title {
        padding-left: 5px;
    }
}
@media screen and (max-width: 375px) {
    form {
        width: 89vw;
    }
    .input_search {
        width: 63.724vw;
    }

    /*Filtres*/

    .column {
        flex-direction: column;
        align-items: flex-start;
    }
}
